@font-face {
	font-family: Barlow-SemiBold;
	font-family: Barlow-Regular;
	src: url(../styles/fonts/Barlow-SemiBold.ttf) format("truetype");
	src: url(../styles/fonts/Barlow-Regular.ttf) format("truetype");
}

.item-container {
	background-color: #1f1d2b;
	border-radius: 1rem;
	padding: 2rem 1rem 1.5rem 1rem;
	margin: 3rem 0.8rem 3rem 0.8rem;
	cursor: pointer;
}

.food-icon {
	position: relative;
	top: -58px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding-right: 11px;
	flex-wrap: wrap;
	margin-top: -65px;
	max-width: 170px;
	font-family: Barlow-Regular;
	text-align: center;
}

.food-title {
	padding-top: 2rem;
	padding-bottom: 8px;
	margin-left: -5%;
	margin-right: 10%;
	text-align: center;
	font-size: 16px;
}

.food-price-availability-wrapper {
	width: 150%;
	margin-left: -25%;
	text-align: center;
}

.food-price {
	color: white;
	padding-bottom: 8px;
	font-size: 16px;
	max-width: 150%;
	text-align: center;
}

.food-availability {
	font-size: 16px;
	color: #abbbc2;
	font-style: normal;
	line-height: 140%;
	padding-left: 15px;
	text-align: center;
}
